<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>

<nav th:replace="~{layout :: page_navbar}"></nav>


<div class="container py-3">
    <h1 class="text-center my-4">List of clients</h1>

    <a  class="btn btn-primary mb-3" href="/clients/create">Add client</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="client : ${page.clients}">
            <td th:text="${client.id}"></td>
            <td th:text="@{${client.firstName} + ' ' + ${client.lastName}}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.phone}"></td>
            <td th:text="${client.address}"></td>
            <td th:text="${client.createdAt.toString().substring(0, 10)}"></td>

            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" th:href="@{/clients/edit(id=${client.id})}">
                    Edit
                </a>
                <a class="btn btn-danger btn-sm" th:href="@{/clients/delete(id=${client.id})}"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="container my-3">
        <nav>
            <ul class="pagination">
                <li th:each="i : ${#numbers.sequence(1, page.totalPages)}"
                    th:class="${i == page.pageIndex ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/clients(pageIndex=${i})}"
                       th:text="${i}">2</a>
                </li>
            </ul>
        </nav>
    </div>

</div>


<footer th:replace="~{layout :: page_footer}"></footer>

</body>
</html>